.App {
  text-align: center;
  /* background: #020024; */
  /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media only screen and (max-width: 414px) {
  .App-logo {
    visibility: hidden;
  }
}


/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*/

.App-header {
  position: relative;
  background: var(--body_background);
  /* background-color: var(--body_background); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--body_color);
}

.App-link {
  color: var(--link_color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  background: var(--card_background);
  color: var(--card_text);
  border-radius: 12px;
  transition: all 0.3s ease;
}

li:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
}
.switch {
    position: absolute;
    top: 20px;
    right: 20px;
}